.progress-bar {
    background: #ccc;
    height: 20px;
}

.progress {
    background: #007bff;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 20px;
}
.images-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
