.webcam {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 70vw; /* Full width of the viewport */
    height: 70vh; /* Full height of the viewport */
}
